<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-1 body-content'>
            <div class="col-sm-6 text-center">
                <h3>Tanks</h3>
                    <input class="form-check-input" type="checkbox" id="tank1" value="tank1" [(ngModel)]="tank1">
                    <label class="form-check-label" for="tank1">Tank 1</label>
                    <input class="form-check-input" type="checkbox" id="tank2" value="tank2" [(ngModel)]="tank2">
                    <label class="form-check-label" for="tank2">Tank 2</label>
                    <input class="form-check-input" type="checkbox" id="tank3" value="tank3" [(ngModel)]="tank3">
                    <label class="form-check-label" for="tank3">Tank 3</label>
            </div>
            <div class="col-sm-6 text-center">
                <h3>Measurements</h3>
                    <input class="form-check-input" type="checkbox" id="tank" value="Tank" [(ngModel)]="Tank">
                    <label class="form-check-label" for="Tank">Tank</label>
            </div>

            <div class='col-sm-12 text-center margin-top'>
                <form class="form-inline">
                    <button (click)="refreshData()" type="button" class="btn btn-primary">Update!</button>
                </form>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 body-content">
            <div #dataContainer></div>
        </div>
    </div>
</div>
<style>
    .margin-top
    {
        margin-top: 40px;
    }
    label
    {
        padding-right: 20px;
    }
    body
    {
        overflow-x: hidden !important;
    }
</style>
